In [2]:
import pandas as pd

In [5]:
df = pd.read_pickle('/Users/gocchini/Desktop/CC project/tutorial_following/results_18_05.pkl')

In [6]:
df

,url_host_name,website_postcodes
0,0-0.co.uk,{}
1,0-1-0test.co.uk,{'N113NX': 1}
2,0-1.co.uk,{}
3,000001.co.uk,{}
4,0001.co.uk,{}
5,001assessments.co.uk,"{'B3 1RL': 1, 'B23 6BG': 1}"
6,001quicktest.co.uk,"{'LS9 7DR': 3, 'GU2 7YG': 1}"
7,001royalcabs.co.uk,"{'mk170bu': 1, 'Mk170bu': 1, 'MK17 0BU': 1}"
8,006900.co.uk,{'BA6 8LF': 1}
9,007carteblanche.co.uk,{}
10,007magazine.co.uk,"{'WC2H 7BY': 1, 'SE1 8XT': 1}"
11,007online.co.uk,{}
12,007oxfordtaxis.co.uk,{'OX3 8DJ': 1}
13,007pi.co.uk,{'M2 4JW': 1}
14,00mobile.co.uk,{}
15,010.co.uk,{}
16,010372.co.uk,{}
17,0116.co.uk,{}
18,01202.co.uk,{}
19,joe-robinson.007magazineonline.co.uk,{}
20,www.0-0.co.uk,{}
21,www.0-21.co.uk,{}
22,www.000host.co.uk,{}
23,www.001-translations.co.uk,"{'BT9 6DP': 1, 'LU1 3FL': 1, 'CB1 7ED': 1, 'WD..."
24,www.001formationagent.co.uk,{'W1B 3HH': 1}
25,www.0044.co.uk,{}
26,www.0044healthtesting.co.uk,"{'HU9 1ND': 2, 'B2 4AY': 1}"
27,www.005degreeswest.co.uk,{}
28,www.007autolocks.co.uk,{}
29,www.007escorts.co.uk,{}
30,www.007grabs-services.co.uk,{}
31,www.007magazine.co.uk,"{'SW7 2RL': 1, 'SE1 8XX': 1, 'er50th': 1, 'F45..."
32,www.007notimetodie.co.uk,{}
33,www.00cabsyeovil.co.uk,{'BA21 4DN': 1}
34,www.00productions.co.uk,{}
35,www.01134.co.uk,{'HR1 4DP': 1}
36,www.0115records.co.uk,{}

# Question: what if a compamnu has loads of postcodes? All happening the same amount of times